.button {
  all: unset;
  color: white;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: 100%;
  background-repeat: no-repeat;
  container-type: size;
  text-shadow: 0.25cqh 0.25cqh 0 rgba(0, 0, 0, 0.5);
  padding: 0.5cqh;
  box-sizing: border-box;
}

.text {
  font-size: 45cqh;
}

.normal {
  aspect-ratio: 10;
  background-image: url('/src/assets/images/ui/button.png');
}

.normal:hover {
  background-image: url('/src/assets/images/ui/button_highlighted.png');
}

.square {
  aspect-ratio: 1;
  background-image: url('/src/assets/images/ui/button_square.png');
}

.square:hover {
  background-image: url('/src/assets/images/ui/button_highlighted_square.png');
}
