@font-face {
  font-family: 'minecraft';
  src: url('./fonts/MinecraftRegular.otf');
}

@font-face {
  font-family: 'minecraft-chat';
  src: url('./fonts/F77-Minecraft.ttf');
}

@font-face {
  font-family: 'Chinese';
  src:
    local('SimKai'), local('KaiTi'), local('KaiU'), local('STKaiti'), local('Microsoft YaHei'), local('Songti'), local('MS Yi-Bai Ti'),
    local('BiauKai'), local('Heiti SC'), local('FangSong'), 'STHeitiSC-Medium', 'cursive';
  unicode-range: U+4E00-9FFF;
}
