.pageFin {
  height: max-content;
  width: min(85vw, 50vh);
}

.emojiScore {
  white-space: pre-wrap;
}

.boutonsFlex {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  aspect-ratio: 10;
  height: min(8.5vw, 5vh);
}

.shareInTchat {
  aspect-ratio: unset !important;
  flex: 1 !important;
}

.copyIcon {
  height: 2dvh;
  filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.5));
  padding: 2px;
}
