.pageFin {
  height: max-content;
  width: min(85vw, 50vh);
}

.emojiScore {
  white-space: pre-wrap;
}

.boutonsFlex {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  aspect-ratio: 10;
  height: 65px;
}

.shareInTchat {
  aspect-ratio: unset;
  flex: 1;
  background-size: 100% 100%;
}

.copyScore {
  width: 10%;
}

.copyIcon {
  height: 2dvh;
  filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.5));
  padding: 2px;
}
