.achievement {
  --size: calc(var(--mc-px) * 32);

  position: relative;
  display: flex;
  align-items: center;
  height: var(--size);
  max-width: 100vw;
  box-sizing: border-box;

  padding-left: calc(var(--mc-px) * 8);
  padding-right: calc(var(--mc-px) * 4);
  gap: calc(var(--mc-px) * 6);
}

.achievement::before {
  content: '';
  position: absolute;
  inset: 0;
  border-style: solid;
  border-width: calc(var(--mc-px) * 4);
  border-image-source: var(--mc-advancement);
  border-image-slice: 4 fill;
  border-image-repeat: stretch;
  image-rendering: pixelated;
  pointer-events: none;
  z-index: -1;
}

.icon {
  height: calc(var(--mc-px) * 16);
  aspect-ratio: 1;
  object-fit: contain;
  image-rendering: pixelated;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: calc(var(--mc-px) * 3);
  font-size: calc(var(--mc-px) * 8);
  min-width: 0;
}

.title {
  color: #ffff00;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.description {
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
