.customWord {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/src/assets/images/blocks/dirt_256.png');
  -webkit-backdrop-filter: brightness(30%);
  backdrop-filter: brightness(30%);
  background-size: 5vh;
  background-repeat: repeat;
  image-rendering: pixelated;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(85vw, 50vh);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vh;
  border: #5f5f5f solid 0.2vh;
  font-size: 2.2vh;
  color: white;
  text-shadow: 0.25cqh 0.25cqh 0 rgba(0, 0, 0, 0.5);
}

.customWord.hidden {
  display: none;
}

.content {
  display: grid;
  grid-gap: 0.8vh;
}

.textField {
  text-transform: uppercase;
}
