.root {
  color: #55ff55;
}

.actionBtn {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
}

.actionBtn:hover {
  opacity: 0.75;
}

.disabledBtn {
  all: unset;
  opacity: 0.4;
  cursor: default;
}
