.td {
  padding: 0;
}

.cell {
  font-size: clamp(0vh, 5vh, calc((100vw / (var(--squares) + 1)) - 1vh));
  width: 6vh;
  height: 6vh;
  max-width: calc(100vw / (var(--squares) + 1) - 4vh / var(--squares));
  max-height: calc(100vw / (var(--squares) + 1) - 4vh / var(--squares));
  display: flex;
  justify-content: center;
  align-items: center;
}
