.td {
  padding: 0;
}

.cell {
  font-family: minecraft;
  text-transform: capitalize;
  text-align: center;
  font-size: clamp(0vh, 5vh, calc((100vw / (var(--squares) + 1)) - 1vh));
  width: 6vh;
  height: 6vh;
  max-width: calc(100vw / (var(--squares) + 1) - 4vh / var(--squares));
  max-height: calc(100vw / (var(--squares) + 1) - 4vh / var(--squares));
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct {
  color: color-mix(in srgb, var(--mc-correct-color, #16617a), black 60%);
  background-image: var(--mc-diamond-block);
  background-size: cover;
  image-rendering: pixelated;
}

.misplaced {
  color: color-mix(in srgb, var(--mc-misplaced-color, #6e6e23), black 60%);
  background-image: var(--mc-gold-block);
  background-size: cover;
  image-rendering: pixelated;
}

.missed {
  color: color-mix(in srgb, var(--mc-miss-color), black 60%);
  background-image: var(--mc-stone);
  background-size: cover;
  image-rendering: pixelated;
}
