.chatInput {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: stretch;
  container-type: size;
  height: 3.2vh;
  flex-shrink: 0;
  position: relative;
}

.button {
  all: unset;
  color: white;
  aspect-ratio: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.input {
  all: unset;
  color: white;
  padding: 0.7vh;
  flex-grow: 1;
  font-size: 1.8vh;
}

.answering {
  width: 100%;
  position: absolute;
  bottom: 100%;
  background-color: rgba(81, 81, 81, 0.7);
  color: white;
  padding: .5vh;
  box-sizing: border-box;
  border-radius: 0.5vh 0.5vh 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
}

.answering.hidden {
  opacity: 0;
  transform: translateY(100%);
}

.answeringMessage {
  display: flex;
  align-items: center;
}
