.stats {
  display: flex;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/src/assets/images/blocks/dirt_256.png');
  background-size: 5vh;
  background-clip: padding-box;
  border: #5f5f5f solid 0.2vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: max-content;
  width: min(85vw, 50vh);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  padding: 2vh;
  text-shadow: 0.25cqh 0.25cqh 0 rgba(0, 0, 0, 0.5);
}

.stats.hidden {
  visibility: hidden;
}

.title {
  font-size: 3vh;
}

.subtitle {
  font-size: 2vh;
}
