.messages {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.2vh;
  gap: 0.2vh;
  max-height: 100%;
  overflow: scroll;
  user-select: text;
}

.messages::-webkit-scrollbar {
  display: none;
}

.date {
  color: #b7b7b7;
  margin: 0.2vh 0;
  display: flex;
  gap: .5vh;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.dateLeftBar,
.dateRightBar {
  flex-grow: 1;
  height: 0.3vh;
  background-color: #727272;
}
