.settings {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: flex-start !important;
  top: 0 !important;
  left: 0 !important;
  transform: none !important;
  width: 100vw !important;
  height: 100vh !important;
  padding: 6vh 4vw !important;
  background-size: 4vh !important;
  box-sizing: border-box !important;
  z-index: var(--z-settings) !important;
  border: none !important;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  gap: 1vh;
  width: 100%;
}

.grid {
  width: 100%;
  max-width: calc(2 * 500px + 1vh);
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(85vw, 500px), 500px));
  gap: 1vh;
  justify-content: center;
  align-items: center;
}

.button {
  width: min(85vw, 500px);
  min-width: min(85vw, 500px);
  height: unset;
  flex: 0;
}

.title {
  font-size: 2.4vh;
  letter-spacing: 0.05em;
  margin-bottom: 5vh;
  text-align: center;
  flex-shrink: 0;
}
