.button {
  --button-height: min(8.5vw, 5vh);
  all: unset;
  color: white;
  height: var(--button-height);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  container-type: size;
  text-shadow: 0.25cqh 0.25cqh 0 rgba(0, 0, 0, 0.5);
  padding: 0.5cqh;
  box-sizing: border-box;
  aspect-ratio: 10;

  border-image-source: url('/src/assets/images/ui/button.png');
  border-image-slice: 2 fill;
  --button-border: calc(var(--button-height) * 0.1);
  border-image-width: var(--button-border);
  border-image-repeat: round;
}

.square {
  aspect-ratio: 1 / 1;
}

.half {
  aspect-ratio: 5 / 1;
}

.text {
  font-size: 45cqh;
}

.button:hover {
  border-image-source: url('/src/assets/images/ui/button_highlighted.png');
}

.disabled {
  cursor: not-allowed;
  color: #a0a0a0;
  text-shadow: 0.25cqh 0.25cqh 0 rgba(0, 0, 0, 0.3);
}

.disabled,
.disabled:hover {
  border-image-source: url('/src/assets/images/ui/button_disabled.png');
}
