.button {
  all: unset;
  color: white;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  container-type: size;
  text-shadow: 0.25cqh 0.25cqh 0 rgba(0, 0, 0, 0.5);
  padding: 0.5cqh;
  box-sizing: border-box;
  aspect-ratio: 10;

  border-image-source: url('/src/assets/images/ui/button.png');
  border-image-slice: 4 fill;
  border-image-width: 12px;
  border-image-repeat: stretch;
}

.text {
  font-size: 45cqh;
}

.button:hover {
  border-image-source: url('/src/assets/images/ui/button_highlighted.png');
}

.disabled {
  cursor: not-allowed;
  color: #a0a0a0;
  text-shadow: 0.25cqh 0.25cqh 0 rgba(0, 0, 0, 0.3);
}

.disabled,
.disabled:hover {
  border-image-source: url('/src/assets/images/ui/button_disabled.png');
}

.square {
  aspect-ratio: 1 / 1;
}

.half {
  aspect-ratio: 5 / 1; /* half of 10, so visually "half width" */
}
