.button {
  all: unset;
  color: white;
  height: var(--button-height);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  --button-text-shadow-size: calc(var(--button-height) * 0.04);
  text-shadow: var(--button-text-shadow-size) var(--button-text-shadow-size) 0 rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  aspect-ratio: 10;

  border-image-source: var(--mc-button);
  border-image-slice: 2 fill;
  --button-border: calc(var(--button-height) * 0.1);
  border-image-width: var(--button-border);
  border-image-repeat: initial;
}

.square {
  aspect-ratio: 1 / 1;
}

.half {
  aspect-ratio: 5 / 1;
}

.text {
  font-size: calc(var(--button-height) * 0.35);
  white-space: nowrap;
}

.button:hover {
  border-image-source: var(--mc-button-highlighted);
}

.disabled {
  cursor: not-allowed;
  color: #a0a0a0;
  text-shadow: 0.25cqh 0.25cqh 0 rgba(0, 0, 0, 0.3);
}

.disabled,
.disabled:hover {
  border-image-source: var(--mc-button-disabled);
}
