#root-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  position: relative;
  background-image: url('/src/assets/images/blocks/dirt_256.png');
  background-repeat: repeat;
  background-size: 17dvmin 17dvmin;
  image-rendering: pixelated;
  transition: background-image ease 1s;
}

#root-container.dark {
  background-image: url('/src/assets/images/blocks/netherrack_256.png');
}

.windows {
  z-index: var(--z-popups);
}
