#root-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  position: relative;
  background-image: var(--mc-dirt);
  background-repeat: repeat;
  background-size: 17dvmin 17dvmin;
  image-rendering: pixelated;
}

#root-container.dark {
  background-image: var(--mc-netherrack);
}
