.message {
  position: relative;
  color: white;
  width: 100%;
  font-size: 1.8vh;
  text-shadow: 0.25cqh 0.25cqh 0 rgba(0, 0, 0, 0.5);
}

.message:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.score {
  color: rgb(6, 187, 6);
}

.tool {
  position: absolute;
  bottom: 100%;
  right: 0;
}
