.hidden {
  display: none;
}

.pageFin {
  display: flex;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(1vh);
  backdrop-filter: blur(1vh);
  background-clip: padding-box;
  border: 2vh solid #c6c6c6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: max-content;
  width: max-content;
  max-width: 80vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  z-index: 2;
}

.close {
  position: absolute;
  right: 1vmin;
  top: 1vmin;
  line-height: 0.55;
  font-size: 5vmin;
  cursor: pointer;
}

.crown {
  height: 5vmin;
}

.copier {
  white-space: pre-wrap;
  font-size: 1.5em;
  font-family: "Twemoji", monospace;
}

.copyChecked {
  position: absolute;
  bottom: 0;
  right: 0;
  color: green;
  display: none;
}

.boutonsFlex {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.bouton {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.3vh;
  padding: 0.3em;
  cursor: pointer;
  font-size: 2vh;
  text-align: center;
}

.bouton:hover {
  background-color: rgba(0, 0, 0, 0.7);
  text-decoration: underline;
}

.boutonScoreChat {
  position: relative;
}

.boutonScoreChat::after {
  font-family: Arial;
  content: "☟";
  position: absolute;
  top: 0;
  left: 2%;
  transform: translateY(-100%);
  padding-bottom: 0.2vh;
  animation: pointFinger 1s ease infinite;
}

@keyframes pointFinger {
  0% {
    transform: translateY(-100%);
  }
  40%,
  60% {
    transform: translateY(-120%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.boutonCopier {
  filter: invert(-1);
  width: 2vh;
  position: relative;
  cursor: default;
}

.boutonCopier img {
  width: auto;
  height: 2vh;
}

.lesCopains {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  border-radius: 0.5vh;
  border: 0.1vh solid white;
  padding: 0.5em;
}

.linksFlex {
  display: flex;
  gap: 0.2em;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.linksFlex a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  background: linear-gradient(
    44deg,
    rgba(255, 0, 0, 0.5) 0%,
    rgba(255, 154, 0, 0.5) 10%,
    rgba(208, 222, 33, 0.5) 20%,
    rgba(79, 220, 74, 0.5) 30%,
    rgba(63, 218, 216, 0.5) 40%,
    rgba(47, 201, 226, 0.5) 50%,
    rgba(28, 127, 238, 0.5) 60%,
    rgba(95, 21, 242, 0.5) 70%,
    rgba(186, 12, 248, 0.5) 80%,
    rgba(251, 7, 217, 0.5) 90%,
    rgba(255, 0, 0, 0.5) 100%
  );
  color: white;
  text-decoration: none;
  padding: 0.2em;
  border: 0.1vh solid gray;
  border-radius: 0.2vh;
  cursor: pointer;
}

.linksFlex a:hover {
  text-decoration: underline;
}

.imageIcon {
  height: 1em;
}